body {
    background-color: lightblue;
}

h1 {
    color: blueviolet;
    text-align: center;
}

h2 {
    color: darkcyan;
    text-align: center;
}

.center {
    text-align: center;
}

p {
    text-align: justify;
}
